{
  "semi": false,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true
}
